@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
    --main-color: #e7ebee;
    --text-color: #6d6d6d;
    --accent: #6ACDC8;
}

html, body {
    min-width: 200px;
    margin: 0px;
    padding: 0px;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

#gauge {
    margin-top: -20px;
    min-width: 200px;
    min-height: 155px;
}

#summary {
    font-size: 20px;
    pointer-events: none;
}

#credits {
    display: none;
}

.icon {
    stroke: var(--text-color);
    fill: var(--text-color);
    height: 40px;
}

.small {
    font-size: 75%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.top {
    grid-auto-rows: 80px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center
}

.footer {
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    color: #CCC;
    pointer-events: all;
    transition: background-color .3s, color .3s;
}
.footer:hover {
    background-color: #EFEFEF;
    color: #AAA;
}

/* Credits */

#credits {
}

#credits dl {
    padding: 10px;
    margin: 0px;
}

#credits dt {

}

#credits dd {
    margin: 0px;
}
#credits dd:nth-child(2) {
    margin-bottom: 15px;
}
